#lobby {
    text-align: center;
}

.player-box-container {
    text-align: center;
    display: inline-block;
}

.lobby-pit {
    display: inline-block;

    margin-top: 48px;
    padding: 5px;

    text-align: left;
    background-color: rgb(152, 49, 49);
}