#room {
    width: 100%
}

.players-container {
    display: inline-flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 100%;
}

.player-box-container {
    text-align: center;
}

.timer-container {
    text-align: center;
}